.app__aboutone{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
}
.app__aboutone-title {
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
}
.app__aboutone-title h1 {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.app__aboutone-title div {
    width: 38px;
    height: 3px;
    background: var(--color-gray);
    margin-bottom: 0.25rem;
}
.app__aboutone-text {
    flex: 2;
    max-width: 390px;
    display: flex;
}
.app__aboutone-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text);
}
@media screen and (max-width: 550px) {
    .app__aboutone-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .app__aboutone-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .app__aboutone{
        margin: 1rem 0;
    }
}
