.main {
  display: flex;
}
.outlet {
  flex: 1;
  padding: 16px;
  margin-left: 25%;
  overflow-y: auto;
  /* overflow-x: hidden; */
}

.outlet-button {
  display: none;
}
.sidebar-link {
  padding: 0.5rem 0.75rem; 
  border-radius: 0.25rem; 
  color: white;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease; 
}

.sidebar-link:hover {
  background-color: #f2f2f2;
  color: #051d38; 
}

.sidebar-link.active {
  background-color: #f2f2f2; 
  color: #051d38; 
  font-weight: 600; 
}

@media screen and (min-width: 1024px) {
  .mobile-sidebar {
    display: none;
  }

  .outlet {
    margin-left: 22%;
  }
}

@media screen and (min-width: 1280px) {
  .outlet {
    margin-left: 18%;
  }
}

@media screen and (max-width: 969px) {
  .outlet{
    margin-left: 0;
  }
  .outlet-button {
    display: block;
    margin-bottom: 56px;
  }
  .mobile-container {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
  }

  .mobile-sidebar {
    display: flex;
    flex-direction: column;
    background-color: #ff6347;
    width: 16rem;
    height: 100vh;
    padding: 1rem;
    color: white;
  }
  .close {
    margin-bottom: 2rem;
  }
  .icon {
    color: white;
  }
  button {
    all: unset;
    cursor: pointer;
  }
}
